header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #c04ceef5;
  border-bottom: 10px solid #000;
  padding-left:20px;
  padding-right:20px;
  }
  
  nav{
     text-align: right;
  }
  


  
 
  
    ul {
  display: flex;
  margin-right: 30px;
  align-items: center;
  
  
  
  }
  
   li {
  display: flex;
  margin-right: 30px;
  
  }

 