.descripition{
background-color: #7c5e99;
color: #fff;
border-bottom: 10px solid #000;
padding-top: 50px;
padding-bottom: 100px;
font-family: 'Fira Code';
font-size: 30px;
font-weight: 300;
line-height: 1.4;
}

.details{
    margin-left: 40px;
    margin-right: 40px;
    position: relative;
}